.btn{
    padding: 0px;
    margin: 0px;
    background-color: none;
    color:none;
}
button{
    
    width: 1500px;
    margin: auto;
    text-align: center;
    background-color: none;
    color:none;
}