h1{
    font-size: 70px;
    color: rgb(232, 163, 163);
    text-align: center;
}
h3{
    font-size: 40px;
    color: rgb(45, 32, 16);
    text-align: center;
    position: relative;
    text-align: center;
    
}
body{
    background-color: rgb(236, 199, 199);
    height: 3000px;
    width: 2300px;
}
footer{
    text-align: center; 

    
}

footer a{
    color: darkgoldenrod;
    font-size: 30px;
    text-align: center;
  
}
footer a:hover{
    color: cyan;
}
main{
    
    width: 1500px;
    margin: auto;
    text-align: center;
}
button a{
    padding: 0px;
    margin: 0px;
}

a :hover{
    transform: scale(1.023) ;
    box-shadow: 3px 6px 6px 0 rgba(0,0,0,.11);
}
