h6{
    font-size: 26px;
    margin:0px;

}
p{
    font-size: 23px;
    margin:0;
}
h3{
    font-size: 30px;
}
body{ 
    background-color: white;
    width: 1300px;

}
 a{
    margin-left: 30px;
    color: black;
    font-size: 19px;
}
#rit{
    width: 30%;
    height: 30%;
    position: absolute;
    left: 49vw;
    bottom: 29w;
    
   
  

}
#mid{
    width: 40%;
    height: 40%;
    position:absolute;
    right: 40vw;


}
#lft{
    width: 30%;
    height: 30%;
    right: 69vw;
   position: absolute;

}
#one img{
    height: 200px;
    width: 200px;
    border: solid white;
    border-radius: 20px;
}
#two img{
    height: 200px;
    width: 200px;
    border: solid white;
    border-radius: 20px;
}
#three img{
    height: 200px;
    width: 200px;
    border: solid white;
    border-radius: 20px;
}
#one{
    position: absolute;
    
 
}
#two{
    position: absolute;
    left:8.6vw;
  
}
#three{
    position:absolute;
    left: 17.21vw;

}
h5{
    font-size: 20px;
    color:rgb(187, 28, 28);
    margin:0px;
}
button {
    background-color:rgb(187, 28, 28);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 110px;
    font-size: 22px;
    margin-left: 30px;
}

nav *{
    float: left;
    
}

#trending{
 position:absolute;
 top:30vw;
}
#butt{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: solid;
    border-radius: 10px;
    border-color: rgb(222, 218, 218);
    width: 110px;
    font-size: 22px;
    margin-left: 30px;
}
#news{
    background-color: rgb(187, 28, 28);
    color: rgb(255, 255, 255);
    width: 110px;
    font-size: 22px;
    margin-left: 30px;
}
nav img{
    width: 40px
  
}
#live{
    background-color: rgb(187, 28, 28);
    color: rgb(255, 255, 255);
    width: 140px;
    font-size: 17px;
    position: absolute;
    top:260px;
    right: 600px;
}
h4{
    font-size: 27px;
    font-style: bold;
    margin: 0%;
    padding: 0%;
}
#analysis{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    width: 110px;
    font-size: 19px;
    position:absolute;
    right:600px;
    top:840px;
    
}
hr{
    clear: both;
    width:1730px;
   
}
