
            img {
                background-color:orchid;
                padding:100px 50px;
                margin: 50px;
                border-radius: 50%;
            }
            div{
                background-color: greenyellow;
                width: 50%;
                border-radius: 10%;
            }
 
       