a:hover{
    color:crimson
}
h1{
    font-family:Copperplate, Papyrus, fantasy ;
    color: rgb(182, 145, 238);
    border:solid;
    border-color:rgb(156, 240, 209);
    background-color: rgb(181, 229, 238);
    font-size:35px;
    margin-left:300px;
    margin-right:780px;
}
#pistachio{
    background-color: lightgreen;
    font-family:Copperplate, Papyrus, fantasy ;
}
#pistachio H2{
    color:olive;
}
#pistachio p{
    color:olive;
}
#cherry{
    background-color: rgb(248, 194, 185);
    font-family:Copperplate, Papyrus, fantasy ;
}
#cherry H2{
    color:rgb(86, 9, 9);
}
#cherry p{
    color:rgb(101, 13, 13);
}
img{
   width: 650px;
   height: 559px;
   margin-left: 400px;
   border:solid;
    border-color: rgb(174, 0, 0);

   
   
}
p{
    font-size:large;
    margin-left: 300px;
    
}
h2{
 font-size: 30px;    
}
#brown{
   background-color:sienna;
   font-family:Copperplate, Papyrus, fantasy ;
   color: burlywood;
}
body{
 margin:auto;
 width: 1500px;
 height:500px;
 
}
section{
    border-color: brown;
    border:20px;
    
    border:solid;
}