nav a{ color: rgb(22, 72, 69);
    padding:20px;
}
nav{
    background-color: rgb(201, 223, 239);
    color: rgb(22, 72, 69);
    padding:20px;
    font-size: 15px;
  
}
body{
    background-color: rgb(34, 48, 50) ;
    text-align: center;
    border: solid white 10px;
}
img {
   height: 600px;
   width: 1530px;
    margin-top: 10px;
    border:solid rgb(34, 48, 50);
    border-width: 20px;
    padding:10px;

}
section{
    color:rgb(193, 255, 225);
    background-color: rgb(30, 79, 67);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h3{
    color:  rgb(255, 255, 255);
    background-color:  rgb(0, 0, 0);
    border:10px;
    border:solid;
    font-size: 60px;
   
    font-family:Georgia, 'Times New Roman', Times, serif;
}

   
 

a:hover{
    color:rgb(255, 255, 255)
}
main{
   
    margin: auto;
    background-color: black;
    border: solid;
    border-color: white;
}

footer a{
  
    color: gold;
    font-size: 30px;
    padding:50px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
}
footer{
    text-align: center;
}
footer a:hover{
    color:rgb(255, 255, 255)
}

body{
    height: 2100px;
    width: 1600px;
    margin: auto;
    align-items: center;
}
h2{
     
        color:  rgb(255, 255, 255);
        background-color:  rgb(0, 0, 0);
        font-size: 110px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
  font-size: 40px;
   color:rgba(255, 255, 255, 0.777)

}

#e{
    float:right 40px;
}
#pw{
    float:left 40px;
}
