nav a{ color: rgb(255, 255, 255);
    padding:20px;
}
nav{
    background-color: rgb(201, 223, 239);
    color: rgb(255, 255, 255);
    padding:20px;
    font-size: 15px;
  
}
body{
    background-color: rgb(34, 48, 50) ;
    text-align: center;
    border: solid white 10px;

}
img {
   height: 400px;
   width: 700px;
    margin-top: 10px;
    border:solid rgb(34, 48, 50);
    border-width: 20px;
}
section{
    color:rgb(255, 255, 255);
    background-color:rgb(34, 48, 50) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{
    color:  rgb(255, 255, 255);
    background-color:  rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    border:10px;
    border:solid;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
    float:left;
    padding:10px;
    height: 340px;
    width:650px;
   
 
}
a:hover{
    color:rgb(255, 255, 255)
}
main{
    width: 80%;
    height: 1200px;
    margin: auto;
    background-color: black;
    border: solid;
    border-color: white;
}


    

footer a:hover{
    color:rgb(255, 255, 255)
}
body{
    height: 2100px;
    width: 1600px;
    margin: auto;
    align-items: center;
}
h2{
  
        color:  rgb(255, 255, 255);
        background-color:  rgb(0, 0, 0);
        border-color: rgb(255, 255, 255);

        font-size: 110px;
        font-family: Georgia, 'Times New Roman', Times, serif;
}
ol{
    text-align: center;
    font-size: 30px;
    color: rgb(12, 85, 67);
    margin:auto;
    padding:10px;
    list-style-type: none;
}
h4{
    color: rgb(255, 255, 255);
    font-size: 29px;
}
footer a{
    color: gold;
    font-size: 30px;
    padding:50px 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;



}
footer{
    margin-top: 165px;
    text-align:bottom;
}