nav a{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 200, 0);
    padding:10px;
    margin-left: 50px;
}

a:hover{
    color:crimson
}
h1{
    font-family:Copperplate, Papyrus, fantasy ;
    color: rgb(136, 241, 148);
    border:solid;
    border-color:rgb(14, 38, 0);
    background-color: rgb(119, 217, 0);
   
    
    font-size:50px;
    margin-left:440px;
    margin-right:6000px;
 
   
}
#pistachio{
    background-color: rgb(255, 136, 18);
    font-family:Copperplate, Papyrus, fantasy ;
}
#pistachio H2{
    color:rgb(7, 4, 2);
}
#pistachio p{
    color:rgb(0, 0, 0);
}
#cherry{
    background-color: rgb(50, 68, 4);
    font-family:Copperplate, Papyrus, fantasy ;
}
#cherry H2{
    color:rgb(175, 255, 54);
}
#cherry p{
    color:rgb(189, 238, 152);
}
img{
   width: 650px;
   height: 559px;
   margin-left: 400px;
   border:solid;
    border-color: rgb(236, 236, 236);

   
   
}
p{
    font-size:large;
    margin-left: 300px;
    
}
h2{
 font-size: 30px;    
}
#brown{
   background-color:rgb(252, 195, 236);
   font-family:Copperplate, Papyrus, fantasy ;
   color: rgb(2, 2, 81);
}
body{
 margin:auto;
 width: 1500px;
 height:500px;
 background-color: black;
 
}
section{
    border-color: rgb(172, 233, 210);
    border:20px;
    
    border:solid;
}