nav a{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 200, 0);
    padding:10px;
    margin-left: 50px;
}

a:hover{
    color:crimson
}
h1{
    font-family:Copperplate, Papyrus, fantasy ;
    color: rgb(158, 158, 157);
    border:solid;
    border-color:rgb(84, 84, 82);
    background-color: black;
   
    
    font-size:50px;
    margin-left:440px;
    margin-right:6000px;
 
   
}
#pistachio{
    background-color: rgb(112, 96, 80);
    font-family:Copperplate, Papyrus, fantasy ;
}
#pistachio H2{
    color:rgb(47, 3, 3);
}
#pistachio p{
    color:rgb(65, 42, 12);
}
#cherry{
    background-color: rgb(101, 5, 5);
    font-family:Copperplate, Papyrus, fantasy ;
}
#cherry H2{
    color:rgb(253, 253, 253);
}
#cherry p{
    color:rgb(209, 209, 209);
}
img{
   width: 650px;
   height: 559px;
   margin-left: 400px;
   border:solid;
    border-color: rgb(236, 236, 236);

   
   
}
p{
    font-size:large;
    margin-left: 300px;

    
}
h2{
 font-size: 30px;    
}
#brown{
   background-color:rgb(60, 28, 28);
   font-family:Copperplate, Papyrus, fantasy ;
   color: rgb(229, 229, 153);
}
body{
 margin:auto;
 width: 1500px;
 height:500px;
 background-color: black;
 
}
section{
    border-color: rgb(255, 255, 255);
    border:20px;
    
    border:solid;
}